[project]
	description = A set of shared spec helpers specific to Puppetlabs projects
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/op-ct
[access "refs/for/refs/*"]
	read = group user/op-ct
	push = group user/op-ct
	label-Code-Review = -2..+2 group user/op-ct
	label-Verified = -1..+1 group user/op-ct
	rebase = group user/op-ct
	removeReviewer = group user/op-ct
	submit = group user/op-ct
[access "refs/heads/*"]
	read = group user/op-ct
	create = group user/op-ct
	push = +force group user/op-ct
	pushMerge = group user/op-ct
[access "refs/tags/*"]
	push = +force group user/op-ct
	pushTag = group user/op-ct
	pushSignedTag = group user/op-ct
